* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.website {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.website .navbar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 30px;
  width: 220px;
  background-color: rgba(151, 11, 169, 0.527);
  height: 900px;
}
.website .navbar .logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-left: 0px;
  gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.379);
  padding: 15px;
  margin-top: 15px;
}
.website .navbar .logo img {
  height: 30px;
  width: 30px;
}
.website .navbar .logo span {
  color: #0000ff;
}
.website .navbar .logo i {
  margin-bottom: 40px;
  display: none;
}
.website .navbar ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.website .navbar .nav1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0px;
  margin-left: 60px;

}
.website .navbar .nav1 .special {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.website .navbar .nav1 img {
  width: 30px;
  height: 30px;
}
.website .navbar .nav1 li {
  list-style: none;
}
.website .navbar .nav1 a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}
.website .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 900px;
}
.website .content .navbar2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 78px;
  width: 1300px;
  background-color: rgba(151, 11, 169, 0.527);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
.website .content .navbar2 .bars {
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 360px;
  margin-left: 20px;
}
.website .content .navbar2 .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.website .content .navbar2 .searchbar input {
  padding: 10px 300px 10px 5px;
}
.website .content .navbar2 .searchbar i {
  font-size: 20px;
  padding: 0px 10px 0px 5px;
}
.website .content .navbar2 .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}
.website .content .navbar2 .icons .bell {
  font-size: 20px;
  padding: 10px 15px 10px 15px;
  border-radius: 360px;
}
.website .content h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
  border-bottom: 2px solid rgb(0, 157, 255);
}
.website .content .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
  margin-left: 30px;
}
.website .content .card .card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 25px 10px 25px;
  border-radius: 10px;
  background-color: rgba(151, 11, 169, 0.527);
}
.website .content .card .card1 img {
  height: 150px;
  width: 150px;
}
.website .content .card .card1 .cardcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.website .content .card .card1 .cardcontent p {
  color: gray;
  font-style: "Montserrat", sans-serif;
  font-size: 17px;
}
.website .content .card .card1 .cardcontent h2 {
  font-style: "Montserrat", sans-serif;
  font-weight: 600;
}
.website .content .bigcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  margin-left: 30px;
}
.website .content .bigcard .bigcard1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
}
.website .content .bigcard .bigcard1 h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.website .content .bigcard .bigcard1 img {
  height: 170px;
  width: 170px;
}
.website .content .bigcard .bigcard1 .bigcardcontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.website .content .bigcard .bigcard1 .bigcardcontent span {
  height: 20px;
  width: 20px;
  background-color: #0b8e9a;
  border-radius: 50%;
  display: inline-block;
}
.website .content .bigcard .bigcard1 .bigcardcontent p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}
.website .content .bigcard .graph {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding-top: 10px;
  background-color: rgba(0, 0, 255, 0);
}
.website .content .bigcard .graph img {
  height: 300px;
  width: 1000px;
}
.website .content .bigcard .graph h3 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  margin-left: 350px;
  font-size: 37px;
}
.website .content .bigcard .graph h4 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  margin-left: 20px;
  color: gray;
}
.website .content .bigcard .graph h2 {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  margin-left: 20px;
  color: gray;
}

@media screen and (max-width: 768px) {
  .website .navbar {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgb(106, 195, 239);
    height: 930px;
    left: -300px;
    transition: left 0.5s ease;
  }
  .website .navbar .logo i {
    display: block;
    font-size: 25px;
  }
  .website .content {
    height: 800px;
  }
  .website .content .navbar2 {
    height: 78px;
    width: 1075px;
    background-color: rgba(11, 56, 169, 0.073);
  }
  .website .content .card {
    margin-top: 50px;
    margin-left: 50px;
  }
  .website .content .bigcard {
    margin-top: 80px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 426px) {
  .website .navbar {
    display: none;
    position: fixed;
    top: 0;
    background-color: rgb(106, 195, 239);
    height: 1255px;
    width: 400px;
    left: -300px;
    transition: left 0.5s ease;
  }
  .website .navbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 0px;
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.379);
    padding: 20px;
  }
  .website .navbar .logo h1 {
    font-size: 35px;
  }
  .website .navbar .logo img {
    height: 50px;
    width: 50px;
  }
  .website .navbar .logo span {
    color: #0000ff;
  }
  .website .navbar .logo i {
    font-size: 35px;
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .website .navbar ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .website .navbar .nav1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px;
  }
  .website .navbar .nav1 .special {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(112, 192, 239, 0.475);
    padding: 10px 43px 10px 43px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top: 50px;
  }
  .website .navbar .nav1 img {
    width: 50px;
    height: 50px;
  }
  .website .navbar .nav1 li {
    list-style: none;
  }
  .website .navbar .nav1 a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
  }
  .website .content {
    height: 1300px;
  }
  .website .content .navbar2 {
    height: 98px;
    width: 1075px;
    background-color: rgba(11, 56, 169, 0.073);
  }
  .website .content .navbar2 .bars {
    font-size: 30px;
    background-color: rgba(0, 187, 255, 0.313);
    padding: 15px 25px 15px 25px;
    border-radius: 360px;
    margin-left: 20px;
  }
  .website .content .navbar2 .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.388);
    background-color: rgba(0, 187, 255, 0.313);
  }
  .website .content .navbar2 .searchbar input {
    outline: none;
    border: none;
    padding: 20px 150px 20px 5px;
  }
  .website .content .navbar2 .searchbar i {
    font-size: 20px;
    padding: 0px 20px 0px 5px;
  }
  .website .content .navbar2 .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
  }
  .website .content .navbar2 .icons .bell {
    font-size: 30px;
    background-color: rgba(0, 187, 255, 0.313);
    padding: 10px 15px 10px 15px;
    border-radius: 360px;
  }
  .website .content .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-top: 30px;
    margin-left: 100px;
  }
  .website .content .card .card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 25px 20px 25px;
    border-radius: 10px;
  }
  .website .content .card .card1 img {
    height: 150px;
    width: 150px;
  }
  .website .content .card .card1 .cardcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .website .content .card .card1 .cardcontent p {
    color: gray;
    font-style: "Montserrat", sans-serif;
    font-size: 37px;
  }
  .website .content .card .card1 .cardcontent h2 {
    font-style: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 40px;
  }
  .website .content .bigcard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 70px;
    margin-left: 60px;
  }
  .website .content .bigcard .bigcard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 34px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 35px 10px 35px;
    border-radius: 10px;
  }
  .website .content .bigcard .bigcard1 h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
  .website .content .bigcard .bigcard1 img {
    height: 170px;
    width: 170px;
  }
  .website .content .bigcard .bigcard1 .bigcardcontent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .website .content .bigcard .bigcard1 .bigcardcontent span {
    height: 20px;
    width: 20px;
    background-color: #0b8e9a;
    border-radius: 50%;
    display: inline-block;
  }
  .website .content .bigcard .bigcard1 .bigcardcontent p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
  }
  .website .content .bigcard .graph {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding-top: 20px;
    background-color: rgba(0, 0, 255, 0);
  }
  .website .content .bigcard .graph img {
    height: 300px;
    width: 600px;
  }
  .website .content .bigcard .graph h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
  }
  .website .content .bigcard .graph h4 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
    color: gray;
  }
  .website .content .bigcard .graph h2 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    margin-left: 20px;
    color: gray;
  }
}/*# sourceMappingURL=dasboard.css.map */